<?xml version="1.0" encoding="utf-8"?>
<Wix
    xmlns="http://wixtoolset.org/schemas/v4/wxs"
    xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package
      Name="$(MyProductName) $(MyProductVersion) ($(MyArch))"
      Manufacturer="$(MyCompanyName)"
      Version="$(MyVersion)"
      Language="1033"
      UpgradeCode="$(UpgradeCode)"
      Scope="perMachine"
      InstallerVersion="500"
      Compressed="yes">

    <MajorUpgrade
        AllowDowngrades="no"
        AllowSameVersionUpgrades="yes"
        DowngradeErrorMessage="A newer version of $(MyProductName) is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Property Id="OTHERINSTALLED">
      <ProductSearch UpgradeCode="$(OtherUpgradeCode)" Minimum="0.0.0.0" />
    </Property>
    <Launch
        Condition="NOT OTHERINSTALLED"
        Message="A version of $(MyProductName) with a different computer architecture is already installed. You must uninstall it before you can install this version." />

    <Property Id="P.LauncherRegistryKey" Value="Software\WinFsp\Services" />
    <Property Id="P.RegistryKey" Value="Software\$(MyProductName)" />
    <Property Id="INSTALLDIR">
      <RegistrySearch
          Id="R.INSTALLDIR"
          Root="HKLM"
          Key="[P.RegistryKey]"
          Name="InstallDir"
          Type="raw" />
    </Property>

    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLDIR" Name="$(MyProductName)" />
    </StandardDirectory>

    <Component Id="C.INSTALLDIR" Directory="INSTALLDIR" Guid="{34645C63-B237-4B2B-B702-8EBBA626D604}">
      <RegistryValue
          Root="HKLM"
          Key="[P.RegistryKey]"
          Name="InstallDir"
          Type="string"
          Value="[INSTALLDIR]"
          KeyPath="yes" />
    </Component>

    <Component Id="C.License.txt" Directory="INSTALLDIR">
      <File Name="License.txt" Source="License.txt" KeyPath="yes" />
    </Component>

    <Component Id="C.sshfs.reg" Directory="INSTALLDIR" Guid="{3EF97966-E49E-4A0B-B68D-5EB2BDA61C21}" Bitness="always32">
      <RegistryKey Root="HKLM" Key="[P.LauncherRegistryKey]">
        <RegistryKey Key="sshfs">
          <RegistryValue Type="string" Name="Executable" Value="[INSTALLDIR]bin\sshfs-win.exe" KeyPath="yes" />
          <RegistryValue Type="string" Name="CommandLine" Value="svc %1 %2 %U" />
          <RegistryValue Type="string" Name="RunAs" Value="." />
          <RegistryValue Type="integer" Name="sshfs.reconnect" Value="0" />
          <RegistryValue Type="integer" Name="sshfs.delay_connect" Value="0" />
          <RegistryValue Type="integer" Name="sshfs.sync_write" Value="1" />
          <RegistryValue Type="integer" Name="sshfs.stall_warn" Value="0" />
          <RegistryValue Type="integer" Name="sshfs.handle_warn" Value="0" />
          <RegistryValue Type="integer" Name="sshfs.handle_limit" Value="0" />
          <RegistryValue Type="integer" Name="sshfs.max_conns" Value="1" />
          <RegistryValue Type="string" Name="Security" Value="D:P(A;;RPWPLC;;;WD)" />
          <RegistryValue Type="integer" Name="JobControl" Value="1" />
          <RegistryValue Type="integer" Name="Credentials" Value="1" />
        </RegistryKey>
      </RegistryKey>
    </Component>

    <Component Id="C.sshfs.r.reg" Directory="INSTALLDIR" Guid="{F8E1A2DE-2061-42AD-805F-33BF0F75DC35}" Bitness="always32">
      <RegistryKey Root="HKLM" Key="[P.LauncherRegistryKey]">
        <RegistryKey Key="sshfs.r">
          <RegistryValue Type="string" Name="Executable" Value="[INSTALLDIR]bin\sshfs-win.exe" KeyPath="yes" />
          <RegistryValue Type="string" Name="CommandLine" Value="svc %1 %2 %U" />
          <RegistryValue Type="string" Name="RunAs" Value="." />
          <RegistryValue Type="integer" Name="sshfs.reconnect" Value="0" />
          <RegistryValue Type="integer" Name="sshfs.delay_connect" Value="0" />
          <RegistryValue Type="integer" Name="sshfs.sync_write" Value="1" />
          <RegistryValue Type="integer" Name="sshfs.stall_warn" Value="0" />
          <RegistryValue Type="integer" Name="sshfs.handle_warn" Value="0" />
          <RegistryValue Type="integer" Name="sshfs.handle_limit" Value="0" />
          <RegistryValue Type="integer" Name="sshfs.max_conns" Value="1" />
          <RegistryValue Type="string" Name="Security" Value="D:P(A;;RPWPLC;;;WD)" />
          <RegistryValue Type="integer" Name="JobControl" Value="1" />
          <RegistryValue Type="integer" Name="Credentials" Value="1" />
          <RegistryValue Type="integer" Name="sshfs.rootdir" Value="1" />
        </RegistryKey>
      </RegistryKey>
    </Component>

    <Component Id="C.sshfs.k.reg" Directory="INSTALLDIR" Guid="{F8E1A2DE-2061-42AD-805F-33BF0F75DC36}" Bitness="always32">
      <RegistryKey Root="HKLM" Key="[P.LauncherRegistryKey]">
        <RegistryKey Key="sshfs.k">
          <RegistryValue Type="string" Name="Executable" Value="[INSTALLDIR]bin\sshfs-win.exe" KeyPath="yes" />
          <RegistryValue Type="string" Name="CommandLine" Value="svc %1 %2 %U" />
          <RegistryValue Type="string" Name="RunAs" Value="." />
          <RegistryValue Type="integer" Name="sshfs.reconnect" Value="0" />
          <RegistryValue Type="integer" Name="sshfs.delay_connect" Value="1" />
          <RegistryValue Type="integer" Name="sshfs.sync_write" Value="1" />
          <RegistryValue Type="integer" Name="sshfs.stall_warn" Value="0" />
          <RegistryValue Type="integer" Name="sshfs.handle_warn" Value="0" />
          <RegistryValue Type="integer" Name="sshfs.handle_limit" Value="0" />
          <RegistryValue Type="integer" Name="sshfs.max_conns" Value="1" />
          <RegistryValue Type="string" Name="Security" Value="D:P(A;;RPWPLC;;;WD)" />
          <RegistryValue Type="integer" Name="JobControl" Value="1" />
          <RegistryValue Type="integer" Name="Credentials" Value="0" />
        </RegistryKey>
      </RegistryKey>
    </Component>

    <Component Id="C.sshfs.kr.reg" Directory="INSTALLDIR" Guid="{44B70FC4-B8C5-4B33-96EF-73D20C517702}" Bitness="always32">
      <RegistryKey Root="HKLM" Key="[P.LauncherRegistryKey]">
        <RegistryKey Key="sshfs.kr">
          <RegistryValue Type="string" Name="Executable" Value="[INSTALLDIR]bin\sshfs-win.exe" KeyPath="yes" />
          <RegistryValue Type="string" Name="CommandLine" Value="svc %1 %2 %U" />
          <RegistryValue Type="string" Name="RunAs" Value="." />
          <RegistryValue Type="integer" Name="sshfs.reconnect" Value="0" />
          <RegistryValue Type="integer" Name="sshfs.delay_connect" Value="1" />
          <RegistryValue Type="integer" Name="sshfs.sync_write" Value="1" />
          <RegistryValue Type="integer" Name="sshfs.stall_warn" Value="0" />
          <RegistryValue Type="integer" Name="sshfs.handle_warn" Value="0" />
          <RegistryValue Type="integer" Name="sshfs.handle_limit" Value="0" />
          <RegistryValue Type="integer" Name="sshfs.max_conns" Value="1" />
          <RegistryValue Type="string" Name="Security" Value="D:P(A;;RPWPLC;;;WD)" />
          <RegistryValue Type="integer" Name="JobControl" Value="1" />
          <RegistryValue Type="integer" Name="Credentials" Value="0" />
          <RegistryValue Type="integer" Name="sshfs.rootdir" Value="1" />
        </RegistryKey>
      </RegistryKey>
    </Component>

    <Feature
        Id="F.Main"
        Level="1"
        Title="$(MyProductName) $(MyProductVersion) ($(MyArch))"
        Description="$(MyDescription)"
        Display="expand"
        ConfigurableDirectory="INSTALLDIR"
        AllowAdvertise="no"
        InstallDefault="local"
        AllowAbsent="no">
      <ComponentRef Id="C.INSTALLDIR" />
      <ComponentRef Id="C.License.txt" />
      <ComponentRef Id="C.sshfs.reg" />
      <ComponentRef Id="C.sshfs.r.reg" />
      <ComponentRef Id="C.sshfs.k.reg" />
      <ComponentRef Id="C.sshfs.kr.reg" />
      <Files Include="$(RootDir)\**" Directory="INSTALLDIR" />
    </Feature>

    <ui:WixUI Id="WixUI_FeatureTree" />
    <WixVariable Id="WixUIBannerBmp" Value="art/wixbanner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="art/wixdialog-$(MyProductStage).bmp" />
    <UI Id="FeatureTreeCustomization">
      <Publish
          Dialog="WelcomeDlg"
          Control="Next"
          Event="NewDialog"
          Value="CustomizeDlg"
          Order="10"
          Condition="NOT Installed" />
      <Publish
          Dialog="CustomizeDlg"
          Control="Back"
          Event="NewDialog"
          Value="WelcomeDlg"
          Order="10"
          Condition="NOT Installed" />
    </UI>
  </Package>
</Wix>
